			body {
				margin:0px;
				
			}
			div.menu{
				position:relative;
				top: 0px;
				height:130px;
				width:100%;
				background-image: url("../res/eye.jpg");
				vertical-align: middle;
				
			}
			div.footer{
				height:130px;
				width:100%;
				background-image: url("../res/eye.jpg");
				vertical-align: middle;
			
			}
			div.footer p{
				float: right;
				margin-top:40px;
				color: #00ffff;
				font-weight: bold;
				font-family: "Courier New", Courier, monospace;
				font-size: 1.3em;
				
			}
			div.footer p:hover{
				background-color: #00ffff;
				color: #006666;
				
			}
			div.button_wrapper{
				
				display: display-block;
				left:70%;
				vertical-align: middle;
				height:100%;
				float:right;
			}
			div.button_wrapper button{
				margin-top:40px;
				margin-right:15px;
				height:45px;
				width: 150px;
				text-transform: uppercase;
				background-color: transparent;
				border: 3px solid #00ffff;
				border-radius: 12px;
				color: #00ffff;
				font-weight: bold;
				font-family: "Courier New", Courier, monospace;
				font-size: 1.2em;
				transition-duration: 1s;
			}
			div.button_wrapper button:hover{
				background-color: #00ffff;
				color: #006666;
				/*border: 3px solid white;*/
			}
			div.main_wrapper{
				
				width:100%;
				height100%;
				text-align: center;
				display: inline-block;
				background-color: 	#F8F8FF;
				
			}
			div.main{
				
				display: inline-block;
				text-align: center;
				width:900px;
				
				
			}
			div.author{
				position:relative;
				text-align: center;
				
				float: right;
				width:200px;
				height:200px;
				margin-top:10px;
			}
			div.main ul:nth-of-type(odd){
				text-align:left;
				float:right;
				margin-right:20px;
				height:180px; 
			}
			div.main ul:nth-of-type(even){
				text-align:left;
				float:left;
				margin-left:20px;
				height:180px; 
			}			
			div.main img:nth-of-type(even){
				float:right;
				margin-left:10px;
			}
			div.main img:nth-of-type(odd){
				float:left;
				margin-right:10px;
			}
			
			div.main img{
				margin-right:30px;
				/*float:right;*/
				height:180px; 
				width:250px;
			}
			div.main h2{
				margin-top:240px;
			}
			div.author img{
				width:130px;
				height:120px;
				float:none;
				display: inline-block
			}
			#author_img{
				float:none;
				border-radius: 50%;
			}