body {
			
				margin:0px;
			}
			p{
				font-weight: bold;
			
			}
			div.menu{
				position:fixed;
				top: 0px;
				height:130px;
				width:100%;
				background-image: url("../res/eye.jpg");
				vertical-align: middle;
				
			}
			div.button_wrapper{
				position: relative;
				display: display-block;
				left:70%;
				vertical-align: middle;
				height:100%;
			}
			div.button_wrapper button{
				margin-top:40px;
				margin-right:15px;
				height:45px;
				width: 150px;
				text-transform: uppercase;
				background-color: transparent;
				border: 3px solid #00ffff;
				border-radius: 12px;
				color: #00ffff;
				font-weight: bold;
				font-family: "Courier New", Courier, monospace;
				font-size: 1.2em;
				transition-duration: 1s;
			}
			div.button_wrapper button:hover{
				background-color: #00ffff;
				color: #006666;
				/*border: 3px solid white;*/
			}
			div.top_div{
				position:relative;
				background-image: url("../res/ai-robot.jpg");
				background-attachment: fixed;
				height:800px;
			}
			div.title_wrapper {
				font-weight: bold;
				font-family: "Courier New", Courier, monospace;
				font-size: 2em;
				color: #00ffff;
				text-align:center;
				padding-top:200px;
				height:100%;
			}
			div.article {
				position:relative;
				height: 400px;
			}
			div.left, div.right {
				float: left;
				height: 100%;
				width:50%;
				
				display: inline-block;
			}
			div.left {
				
				text-align: center;
				
				
			}
			
			p {
				text-align: justify;
			}
			div.text_wrapper {
				display: inline-block;
				width:50%;
			}
			h1{
				
				margin-top: 100px;
				margin-bottom: 5px;
			}
			div.right img {
				width: 100%;
				height: 100%;
			}
			div.left h6{
				
				margin: 0px;
				text-align: left;
			}
			#l1{
				background-image: url("../res/old-paper.jpg");
				
			}
			#l2{
				background-image: url("../res/bg_white.jpg");
				
			}
			#l3{
				background-image: url("../res/paper.jpg");
				
			}
			#l4{
				background-image: url("../res/white.jpg");
				
			}
			#l5{
				background-image: url("../res/tictoe.png");
				
			}
			#l6{
				background-image: url("../res/mlback.jpg");
				
			}
			#l7{
				background-image: url("../res/neuralnetback.jpg");
				
			}
			#l8{
				background-image: url("../res/neuralnetback1.png");
				
			}
			#l9{
				background-image: url("../res/background.jpg");
				
			}
			#l10{
				background-image: url("../res/gray.jpg");
				
			}
			span {
				 
				position:absolute; 
				width:100%;
				height:100%;
				top:0;
				left: 0;
				z-index: 1;

				/* fixes overlap error in IE7/8, 
				make sure you have an empty gif 
				background-image: url('empty.gif');*/
			}
			div.footer{
				height:130px;
				width:100%;
				background-image: url("../res/eye.jpg");
				vertical-align: middle;
			
			}
			div.footer p{
				float: right;
				margin-top:40px;
				color: #00ffff;
				font-weight: bold;
				font-family: "Courier New", Courier, monospace;
				font-size: 1.3em;
				
			}
			div.footer p:hover{
				background-color: #00ffff;
				color: #006666;
				
			}